/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flies {
   display: flex;
   flex-direction: column;
   align-items: center; 
} */

p.error {
	color: green;
}

div.error {
	color: red;
}

span.secret {
	display: none;
}

.lol {
	color: magenta;
	font-size: 40rem;
	font-style: italic;
	font-weight: bold;
}